<!--<div class="event">-->
<!--  <div class="event-photo">-->
<!--    <img src="../../assets/event.jpg">-->
<!--  </div>-->
<!--  <div class="event-name">-->
<!--    Lorem ipsum dolor.-->
<!--  </div>-->
<!--  <div class="event-type">-->
<!--    lorem-->
<!--  </div>-->
<!--  <div class="event-date">-->
<!--    12.12.2019-->
<!--  </div>-->
<!--  <div class="event-desc">-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, recusandae totam. Modi perspiciatis reiciendis-->
<!--    rem!-->
<!--  </div>-->
<!--</div>-->

<div class="item">
  <div class="photo"><img src="../../assets/event.jpg"></div>
  <div class="title">Lorem ipsum dolor.</div>
  <div class="descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, velit.</div>
</div>
