<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email
        <input type="text" placeholder="Email" formControlName="email">
      </label>
<!--      <pre>{{form.get('email').errors | json}}</pre>-->
      <div
        class="validation"
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
        <small *ngIf="form.get('email').errors.required">
          Email can't be empty
        </small>

        <small *ngIf="form.get('email').errors.email">
          Input valid mail
        </small>

        <small *ngIf="form.get('email').errors.restrictedEmail">
          Email {{form.get('email').value}} is not allowed!!!
        </small>

        <small *ngIf="form.get('email').errors.uniqEmail">
          Email {{form.get('email').value}} is already used!!!
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Password
        <input type="password" placeholder="Password" formControlName="password">
      </label>

<!--            <pre>{{form.get('password').errors | json}}</pre>-->

      <div
        class="validation"
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >
        <small *ngIf="form.get('password').errors.required">
          Password can't be empty
        </small>

        <small *ngIf="form.get('password').errors.minlength">
          Minimum {{form.get('password').errors.minlength.requiredLength}} symbols.
          Now your password length is {{form.get('password').errors.minlength.actualLength}}.
        </small>
      </div>

      <div class="form-control">
        <label>Date
          <input type="date" formControlName="date" [min]="corent">
        </label>
      </div>
    </div>
    <div
      class="validation"
      *ngIf="form.get('date').invalid && form.get('date').touched"
    >
      <small *ngIf="form.get('date').errors.restrictedDate">
        Good
      </small>
    </div>

    <div class="card" formGroupName="address">
      <h2>Address</h2>

      <div class="form-control">
        <label>Country</label>

        <label>
          <select formControlName="country">
            <option value="am">Armenia</option>
            <option value="ua">Ukraine</option>
            <option value="ru">Russia</option>
          </select>
        </label>
      </div>

      <div class="form-control">
        <label>
          <input type="text" placeholder="City" formControlName="city">
        </label>
      </div>

      <button class="btn" type="button" (click)="setCapital()">Chose capital</button>
    </div>

    <div class="card" formGroupName="skills">
      <h2>You skills</h2>
      <button class="btn" (click)="addSkill()">Add skill</button>
      <div
        class="form-control"
        *ngFor="let control of form.get('skills').controls; let idx = index"
      >
        <label>{{idx + 1}}
          <input type="text" [formControlName]="idx.toString()">
        </label>
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid || form.pending">Send</button>

  </form>
</div>



