h1 {
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  margin-bottom: 20px;
}
.wrap {
  border: 1px dashed cadetblue;
  padding: 1rem;
}

hr {
  margin: 20px 0;
}

.box {
  width: 150px;
  height: 150px;
  background-color: black;
}

.box2 {
  width: 150px;
  height: 150px;
}
